<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <link rel="stylesheet" href="../../dist/weui.min.css"/>
</head>
<body>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__hd"><img src="{{ headimgurl }}" alt="" style="width:100px;display:block"></div>
    </div>
</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>名字</p>
        </div>
        <div class="weui-cell__ft">{{ nickname }}</div>
    </div>
</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>性别</p>
        </div>
        <div class="weui-cell__ft">{{ sex }}</div>
    </div>
</div>

</body>
</html>